{% extends 'main/base.html' %}

{% block title %} Главная страница {% endblock %}

{% block body %}
<div class="features">
    <h1>Новости</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, atque esse laboriosam nulla odio, officia perferendis porro quae repellat ullam ut vitae? Ab animi ex explicabo officia, sequi sit vel.</p>
    <button class="btn btn-warning">Новости на сегодня</button>
    <p>{{ title }}</p>
</div>

<!--    {% include 'main/test.html' %}-->
{% endblock %}